//====================================================================================================
.footer {
  padding: 130px 0px 90px 0px;
  @media (max-width:$md3+px){
    padding: 60px 0px 40px 0px;
  }
  &__container {
    padding: 0px 80px;
  }
  &__content {
    @media (max-width:$md3+px){
       text-align: center; 
    }
  }
  &__logo {
    display: inline-block;
    @media (min-width:$md3+px){
      margin: 0px 0px 100px 46px; 
    }
    @media (max-width:$md3+px){
      margin: 0px 0px 40px 0px; 
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width:$md3+px){
      align-items: center;
      flex-direction: column;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    @media (max-width:$md3+px){
       margin: 0px 0px 40px 0px; 
    }
  }
  &__link {
    color: inherit;
    &:not(:last-child) {margin: 0px 0px 5px 0px;}
    @media (max-width:$md3+px){
      font-size: 20px; 
    }
  }
  &__social {}
}
.social {
  display: flex;
  &__item {
    color: $primaryColor;
    font-size: 28px;
    transition: color 0.3s ease 0s;
    @media (min-width:$md3+px){
      &:not(:first-child) {margin: 0px 0px 0px 10px;} 
    }
    @media (max-width:$md3+px){
      margin: 0px 10px; 
    }
    @media (any-hover: hover){
      &:hover{
        color: #000;
      }
    }
  }
}
//====================================================================================================
