@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Neutraface";
$fontSize: 18;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1386;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$primaryColor: #ed9898;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
  &__sections {
    .section:nth-child(2n) {
      .section__content {
        @media (min-width:$md2+px){
          flex-direction: row-reverse; 
        }
      }
      .section__image {
        flex: 0 0 70%;
        padding: 0px 0px 49% 0px;
        @media (max-width:$md2+px){
          padding: 0px 0px 66% 0px;
        }
      }
      .section__body {
        padding: 30px 20px;
      }
    }
  }
}
//===================================================================================================================================
.fullscreen {
  background: url('../img/screen-bg.jpg') center / cover no-repeat;
  min-height: 100vh;
}
//============================================================================
.section {
  &__container {
    padding: 0;
  }
  &__content {
    @media (min-width:$md2+px){
      display: flex;
    }
  }
  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 60px;
    @media (max-width:$md2+px){
      padding: 40px 30px;
    }
  }
  &__title {
    position: relative;
    @include adaptiv-value("font-size", 50, 32, 1);
    @include adaptiv-value("margin-bottom", 22, 20, 1);
    padding: 0px 0px 30px 0px;
    &::after{
      content:'';
      position: absolute;
      width: 36px;
      height: 8px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,0px);
      background-color: $primaryColor;
    }
  }
  &__icon {
    flex: 0 0 120px;
    img{max-width: 100%;}
    margin: 0px 0px 40px 0px;
  }
  &__image {
    flex: 0 0 60%;
    padding: 0px 0px 46% 0px;
    position: relative;
    img{max-width: 100%;}
    &::after{
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.3);
    }
    @media (max-width:$md2+px){
      padding: 0px 0px 66% 0px;
    }
    &_w {
      padding: 0px 0px 60% 0px;
    }
  }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
