@charset "UTF-8";

@font-face {
  font-family: "Neutraface";
  font-display: swap;
  src: url("../fonts/Neutraface 2 Disp Greek Bold.woff2") format("woff2"), url("../fonts/Neutraface 2 Disp Greek Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface";
  font-display: swap;
  src: url("../fonts/Neutraface 2 Disp Greek Inline.woff2") format("woff2"), url("../fonts/Neutraface 2 Disp Greek Inline.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface";
  font-display: swap;
  src: url("../fonts/Neutraface 2 Disp Greek Titl.woff2") format("woff2"), url("../fonts/Neutraface 2 Disp Greek Titl.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-google-plus:before {
  content: "";
}

._icon-instagram:before {
  content: "";
}

._icon-facebook:before {
  content: "";
}

._icon-twitter:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 18px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Neutraface";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Neutraface";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1386px;
  margin: 0 auto;
  padding: 0px 15px;
}

.title {
  font-size: 48px;
  font-weight: 900;
}

.text {
  line-height: 120%;
  font-size: 22px;
}

.logo {
  color: inherit;
  font-size: 40px;
  font-weight: 500;
  position: relative;
}

.logo::before,
.logo::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 5px;
  top: 50%;
  background-color: #ed9898;
}

.logo::before {
  left: -40px;
}

.logo::after {
  right: -40px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  z-index: 10;
}

.header._scroll .header__wrapper {
  background-color: rgba(255, 255, 255, 0.8);
}

.header._scroll .header__body {
  min-height: 70px;
}

.header__wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  -webkit-transition: min-height 0.3s ease 0s;
  -o-transition: min-height 0.3s ease 0s;
  transition: min-height 0.3s ease 0s;
}

.header__logo {
  z-index: 1;
  margin: 0px 20px 0px 40px;
}

.menu__list {
  text-align: center;
}

.menu__link {
  color: inherit;
  font-weight: 600;
  font-size: 20px;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 130px 0px 90px 0px;
}

.footer__container {
  padding: 0px 80px;
}

.footer__logo {
  display: inline-block;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  color: inherit;
}

.footer__link:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  color: #ed9898;
  font-size: 28px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__sections .section:nth-child(2n) .section__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 67.6046176046%;
          flex: 0 0 67.6046176046%;
  padding: 0px 0px 48.9177489177%;
}

.page__sections .section:nth-child(2n) .section__body {
  padding: 30px 20px;
}

._no-webp .fullscreen{
  background: url("../img/screen-bg.jpg") center/cover no-repeat; }

.fullscreen {
  min-height: 100vh;
}

.section__container {
  padding: 0;
}

.section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 30px 60px;
}

.section__title {
  position: relative;
  font-size: 50px;
  margin-bottom: 22px;
  padding: 0px 0px 30px 0px;
}

.section__title::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 8px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  background-color: #ed9898;
}

.section__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  margin: 0px 0px 40px 0px;
}

.section__icon img {
  max-width: 100%;
}

.section__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.5137085137%;
          flex: 0 0 58.5137085137%;
  padding: 0px 0px 45.7431457431% 0px;
  position: relative;
}

.section__image_w {
  padding: 0px 0px 52.886002886% 0px;
}

.section__image img {
  max-width: 100%;
}

.section__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__item {
    padding: 5px 0;
  }

  .menu__item:not(:first-child) {
    margin: 0px 0px 0px 40px;
  }

  .footer__logo {
    margin: 0px 0px 100px 46px;
  }

  .social__item:not(:first-child) {
    margin: 0px 0px 0px 10px;
  }
}

@media (min-width: 991.98px) {
  .page__sections .section:nth-child(2n) .section__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1386px) {
  .section__title {
    font-size: calc(32px + 18 * ((100vw - 320px) / 1066));
  }

  .section__title {
    margin-bottom: calc(20px + 2 * ((100vw - 320px) / 1066));
  }
}

@media (max-width: 991.98px) {
  .section__body {
    padding: 40px 30px;
  }
}

@media (max-width: 767.98px) {
  .header__body {
    min-height: 70px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    overflow: auto;
    background-color: #fff;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    padding: 140px 20px 40px 20px;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    right: -100%;
    background-color: #fff;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
  }

  .menu__body._active {
    right: 0;
  }

  .menu__body._active::before {
    content: "";
    right: 0;
  }

  .menu__item:not(:last-child) {
    margin: 0px 0px 50px 0px;
  }

  .menu__link {
    font-size: 30px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer {
    padding: 60px 0px 40px 0px;
  }

  .footer__content {
    text-align: center;
  }

  .footer__logo {
    margin: 0px 0px 40px 0px;
  }

  .footer__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__contacts {
    margin: 0px 0px 40px 0px;
  }

  .footer__link {
    font-size: 20px;
  }

  .social__item {
    margin: 0px 10px;
  }
}

@media (any-hover: hover) {
  .header._scroll .header__wrapper:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .social__item:hover {
    color: #000;
  }
}

._webp .fullscreen{ background: url(../img/screen-bg.webp) center/cover no-repeat; }